  body {
  font-style : "PT Sans", Arial, sans-serif;
  font-size  :  14px;
  font-weight: normal;
  line-height: 21px;
  color      : #7d7d7d;
  }
  .reasons-header h2 {
  font-style : "PT Sans", Arial, sans-serif;
  font-size  :  21px;
  font-weight: bold;
  line-height: 26px;
  }
  .index-search h2 {
  font-style : "PT Sans", Arial, sans-serif;
  font-size  :  30px;
  font-weight: bold;
  line-height: 24px;
  }
