  body {
    font: 400 14px/21px "PT Sans", Arial, sans-serif;
    color: #7d7d7d;
    text-transform: uppercase;
    background-color: #f2f2f2;
    margin: 0;
  }
  .index-search h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    text-align: center;
    margin: 0;
    margin-bottom: 35px;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .wrapper {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #C9BE6F;
  }
  /*======================================
   Главная страница
  =======================================*/

  .main-header {
    margin-bottom: 59px;
  }
  .main-navigation {
    position: relative;
  }
  .main-navigation ul {
    background-color: brown;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  .main-navigation li {
    display: inline-block;
    width: 20%;
    padding: 16px 0;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
  }
  .main-navigation li:nth-child(2) {
    margin-right: 20%;
  }
  .index-logo {
    width: 138px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
  .logo-link {
    display: block;
    width: 138px;
    height: 70px;
  }
  .welcome {
    height: 357px;
    padding: 78px 0;
  }
  .logo-welcome {
    width: 458px;
    height: 352px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  .reasons-header {
    margin-bottom: 32px;
    background-color: #fff;
  }
  .reasons-header h2 {
    color: #000;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
  }
  .reasons-header p {
    margin: 0;
    line-height: 26px;
    color: #333333;
    text-align: center;
  }
  .reason-row-first {
    margin-bottom: 60px;
  }
  .reason {
    width: calc(100% *400 / 1200);
    text-align: center;
  }
  .reason h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
  }
  .reason h3, .reason div, .reason p {
    margin: 0 auto;
  }
  .img-real-city, .img-bridge {
    width: calc(100% * 800 / 1200);
    height: 256px;
    margin: 0;
  }
  .reason-image {
    width: 100%;
  }
  .img-real-city {
    float: right;
  }
  .img-bridge {
    float: left;
  }
  .reason-blue {
    float: left;
    padding: 52px 0;
    background-color: #81b3d2;
  }
  .reason-blue h3 {
    width: 31%;
    margin-bottom: 24px;
  }
  .reason-blue div {
    margin-bottom: 23px;
  }
  .reason-blue p {
    width: 58%;
  }
  .reason-icon {
    float: left;
    position: relative;
    padding-top: 102px;
  }
  .reason-icon h3 {
    margin-bottom: 30px;
  }
  .reason-icon p {
    width: 53%;
  }
  .reason-row-second {
    margin-bottom: 84px;
  }
  .reason-gray {
    float: left;
    padding: 50px 0 60px;
    background-color: #eeeeee;
  }
  .reason-gray h3 {
    width: 30%;
    margin-bottom: 25px;
  }
  .reason-gray div {
    margin-bottom: 25px;
  }
  .reason-gray p {
    width: 57%;
  }
  .main-content {
    margin-bottom: 55px;
  }
  .index-search p {
    width: 28%;
    margin: 0 auto;
    margin-bottom: 52px;
    line-height: 24px;
    text-align: center;
  }
  .search-title-link {
    display: block;
    margin: 0 auto;
    width: 284px;
    padding: 30px 140px 30px 143px;
    line-height: 26px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    background-color: #766357;
    color: #fff;
  }
  .search-form {
    margin: 0 auto;
    width: 455px;
    padding: 55px;
    background-color: #83BDBE;
  }
  .search-form input {
    border: none;
  }
  .datein, .dateout {
    width: 330px;
    padding: 6px 0 6px 15px;
    float: right;
  }
  .search-form label {
    max-width: 105px;
    float: left;
    margin-right: 5px;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
  }
  .block-datein, .block-dateout {
    margin-bottom: 30px;
  }
  .half-width {
    width: calc(50% * 455 / 100%);
    margin-bottom: 55px;
    font-size: 0;
  }
  .half-width-left {
    float: left;
    text-align: right;
  }
  .half-width-right {
    float: right;
    padding-left: 50px;
    text-align: right;
  }
  .number {
    width: 113px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
  }
  .minus, .plus {
    border: none;
    padding: 0;
  }
  .btn-search {
    width: 100%;
    padding: 16px 10px;
    border: none;
    line-height: 26px;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
  }
  .main-footer, .catalog-footer {
    padding: 35px 103px 35px 130px;
    background-color: #fff;
  }
  .main-footer {
    margin-top: 78px;
  }
  .hashtag, .footer-social, .footer-copyright {
    width: calc(100% / 3);
    float: left;
    text-align: center;
  }
  .hashtag {
    text-align: left;
    line-height: 24px;
    font-size: 21px;
    font-weight: 700;
    background-color: #75E070;
  }
  .footer-social {
    margin: 0 auto;
    background-color: #E9E070;
  }
  .footer-copyright {
    background-color: #E9E0F0;
  }
  .footer-copyright {
    position: relative;
    text-align: right;
  }
  .copyright-link {
    width: 113px;
    height: 39px;
  }
  .footer-copyright span {
    position: absolute;
    top: 14%;
    left: 42%;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
  }
  /*======================================
   Страница каталога
  =======================================*/

  .filter-form {
    position: relative;
    padding-left: calc(100% * 70 / 1200);
    padding-right: calc(100% * 70 / 1200);
    padding-top: calc(100% * 30 / 1200);
    padding-bottom: calc(100% * 30 / 1200);
  }
  .catalog-filter label, .catalog-filter fieldset, .catalog-filter legend {
    padding: 0;
    margin: 0;
    border: none;
  }
  .catalog-filter label {
    display: block;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-align: left;
  }
  .catalog-filter label:last-child {
    margin-bottom: 0;
  }
  .catalog-filter legend {
    display: block;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }
  .catalog-filter .filter-environment {
    width: 20%;
    float: left;
  }
  .catalog-filter .filter-home {
    width: 20%;
    float: left;
    padding-left: calc(100% * 40 / 1200);
  }
  .filter-price {
    max-width: 50%;
    float: right;
    text-align: right;
  }
  .btn-filter {
    position: absolute;
    bottom: 32px;
    right: 95px;
  }
  .catalog-header {
    margin-bottom: 30px;
  }
  .catalog-main {
    padding-left: calc(100% * 70 / 1200);
    padding-right: calc(100% * 70 / 1200);
  }
  .sort-select {
    margin: 0;
    padding: 0;
  }
  .sort-filter {
    float: left;
  }
  .sort-filter div, .sort-select, .sort-select li {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .result-search {
    margin-right: 50px;
  }
  .sort-select-label {
    margin-left: 32px;
  }
  .sort-select-label:first-child {
    margin-left: 38px;
  }
  .sort-arrow {
    float: right;
  }
  .sort-arrow {
    margin: 0;
    padding: 0;
  }
  .sort {
    margin-bottom: 32px;
  }
  .catalog-item {
    padding: 28px 0;
  }
  .item-image {
    float: left;
    width: 135px;
    height: 90px;
    margin: 0;
    margin-right: 30px;
    padding: 0;
  }
  .item-about {
    float: left;
  }
  .item-rate {
    float: right;
  }
  .item-title {
    margin: 0;
    margin-bottom: 13px;
  }
  .more {
    float: left;
  }
  .order {
    float: left;
  }
  .more div, .order div {
    margin-bottom: 17px;
  }
